<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @cart_item.reference %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @cart_item.reference %>
</p>

<p>
  <strong>Number:</strong>
  <%= @cart_item.number %>
</p>

<%= link_to 'Edit', edit_cart_item_path(@cart_item) %> |
<%= link_to 'Back', cart_items_path %>
